body {
  margin:0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-family: 'Manrope', sans-serif;
}

#container {
  border-style: solid;
  border-width: 10px;
  border-radius: 10px;
  margin-top: 10px;
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.7fr repeat(5, 1fr);
}

#display {
  font-family: 'Manrope', sans-serif;
  text-align: end;
  padding: 12px 20px 12px 20px;
  border-style: solid;
  border-bottom-width: 3px;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
}

button {
  font-family: inherit;
  font-size: 20px;
  font-weight: 800;
  background-color:mintcream;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

#plus {
  grid-area: 5 / 4 / 7 /5;
}

#equals {
  grid-area: 6 / 2 / 7 / 4;
}

#ac {
  color:rgb(212, 35, 35);
  background-color:rgb(202, 218, 235);
}

.operator {
  background-color: rgb(194, 215, 216);
}

#equals {
  background-color: rgb(236, 186, 150);
}

#plusminus {
  background-color: rgb(240, 235, 218);
}